/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


/ {
    behaviors {
        // Custom shift behaviors for number keys
        shift_0: behavior {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp RPAREN &kp N0>; // Normal: 0, Shift: )
        };
        shift_1: behavior {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp PLUS &kp N1>; // Normal: 1, Shift: !
        };
        shift_2: behavior {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp DOUBLE_QUOTES &kp N2>; // Normal: 2, Shift: @
        };
        shift_3: behavior {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp ASTER &kp N3>; // Normal: 3, Shift: #
        };
        shift_4: behavior {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp DLLAR &kp N4>; // Normal: 4, Shift: $
        };
        shift_5: behavior {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp PERCENT &kp N5>; // Normal: 5, Shift: %
        };
        shift_6: behavior {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp AMPS &kp N6>; // Normal: 6, Shift: ^
        };
        shift_7: behavior {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp FSLH &kp N7>; // Normal: 7, Shift: /
        };
        shift_8: behavior {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp LPAREN &kp N8>; // Normal: 8, Shift: *
        };
        shift_9: behavior {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp RPAREN &kp N9>; // Normal: 9, Shift: (
        };
    };

        keymap {
        compatible = "zmk,keymap";

        default_layer {// layer 0
            // -----------------------------------------------------------------------------------------
            // |  TAB  |  1 (+,|) |  2 (",@) |  3 (*,#) |  4 (ç,¼) |  5 (%,½) |   |  6 (&,¬) |  7 (/,|) |  8 ((,¢)) |  9 () |  0 (=) | BSPC |
            // |  TAB  |   Q     |    W     |    E     |    R     |    T     |   |    Y     |    U     |    I     |    O     |    P     | BSPC |
            // | CTRL  |   A     |    S     |    D     |    F     |    G     |   |    H     |    J     |    K     |    L     |    ;     |   '   |
            // | SHFT  |   Z     |    X     |    C     |    V     |    B     |   |    N     |    M     |    ,     |    .     |    /     |  ESC  |
            //                 | GUI |  LWR  |   SPC    |       |   ENT    |  RSE   | ALT |
            bindings = <
                // Row 1
                &kp ESC      &kp N1    &kp N2    &kp N3    &kp N4    &kp N5          &kp N6     &kp N7     &kp N8     &kp N9    &kp N0    &kp ESC 

                // Row 2
                &kp TAB    &kp Q     &kp W     &kp E     &kp R     &kp T           &kp Z      &kp U      &kp I      &kp O     &kp P     &kp BSPC

                // Row 3
                &kp LSHFT  &kp A     &kp S     &kp D     &kp F     &kp G           &kp H      &kp J      &kp K      &kp L     &kp SEMI  &kp SQT

                // Row 4
                &kp LCTRL   &kp Y     &kp X     &kp C     &kp V     &kp B           &kp N      &kp M      &kp COMMA  &kp DOT   &kp FSLH  &kp ESC

                // Thumb row (modifiers and space/return)
                           &kp LGUI  &mo 2 &kp RET              &kp SPACE     &mo 3    &kp ESC
            >;
        };
        altgr_layer{// layer 1
            // -----------------------------------------------------------------------------------------
            // |  TAB  |  1 (+,|) |  2 (",@) |  3 (*,#) |  4 (ç,¼) |  5 (%,½) |   |  6 (&,¬) |  7 (/,|) |  8 ((,¢)) |  9 () |  0 (=) | BSPC |
            // |  TAB  |   Q     |    W     |    E     |    R     |    T     |   |    Y     |    U     |    I     |    O     |    P     | BSPC |
            // | CTRL  |   A     |    S     |    D     |    F     |    G     |   |    H     |    J     |    K     |    L     |    ;     |   '   |
            // | SHFT  |   Z     |    X     |    C     |    V     |    B     |   |    N     |    M     |    ,     |    .     |    /     |  ESC  |
            //                 | GUI |  LWR  |   SPC    |       |   ENT    |  RSE   | ALT |
            bindings = <
                // Row 1
                &kp ESC      &kp N1    &kp AT_SIGN    &kp HASH  &kp N4    &kp N5          &kp N6     &kp N7     &kp N8     &kp N9    &kp N0    &kp BSPC

                // Row 2
                &kp TAB     &kp Q     &kp W     &kp E     &kp R     &kp T           &kp Y      &kp U      &kp I      &kp O     &kp P     &kp BSPC

                // Row 3
                &kp LSHFT   &kp A     &kp S     &kp D     &kp F     &kp G           &kp H      &kp J      &kp K      &kp L     &kp SEMI  &kp SQT

                // Row 4
                &kp LCTRL   &kp Z     &kp X     &kp C     &kp V     &kp B           &kp N      &kp M      &kp COMMA  &kp DOT   &kp FSLH  &kp ESC

                // Thumb row (modifiers and space/return)
                           &kp LGUI  &kp N1     &kp RET              &kp SPACE     &kp N1      &kp RALT
            >;
        }
        code_layer{// layer 2
            // -----------------------------------------------------------------------------------------
            // |  TAB  |  1 (+,|) |  2 (",@) |  3 (*,#) |  4 (ç,¼) |  5 (%,½) |   |  6 (&,¬) |  7 (/,|) |  8 ((,¢)) |  9 () |  0 (=) | BSPC |
            // |  TAB  |   Q     |    W     |    E     |    R     |    T     |   |    Y     |    U     |    I     |    O     |    P     | BSPC |
            // | CTRL  |   A     |    S     |    D     |    F     |    G     |   |    H     |    J     |    K     |    L     |    ;     |   '   |
            // | SHFT  |   Z     |    X     |    C     |    V     |    B     |   |    N     |    M     |    ,     |    .     |    /     |  ESC  |
            //                 | GUI |  LWR  |   SPC    |       |   ENT    |  RSE   | ALT |
            bindings = <
                // Row 1
                &kp ESC      &kp N1    &kp N2    &kp N3    &kp N4    &kp N5          &kp N6     &kp N7     &kp N8     &kp N9    &kp QUESTION    &kp BSPC

                // Row 2
                &kp TAB    &kp Q     &kp W      &kp UP_ARROW    &kp TILDE     &kp PIPE           &kp LEFT_BRACKET   &kp RIGHT_BRACKET  &kp EXCLAMATION     &kp DOLLAR     &kp P     &kp BSPC

                // Row 3
                &kp LSHFT   &kp A    &kp LEFT_ARROW   &kp DOWN_ARROW     &kp UP_ARROW     &kp G     &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp LEFT_PARENTHESIS   &kp RIGHT_PARENTHESIS   &kp SEMI  &kp SQT

                // Row 4
                &kp LCTRL   &kp Z     &kp X     &kp C     &kp V     &kp GRAVE           &kp LESS_THAN  &kp GREATER_THAN   &kp COMMA  &kp DOT   &kp FSLH  &kp ESC

                // Thumb row (modifiers and space/return)
                           &kp LGUI  &kp N1     &kp RET              &kp SPACE     &kp  SLASH   &kp  EQUAL
            >;
        };

        bt_layer{// layer 3 
            // -----------------------------------------------------------------------------------------
            // |  TAB  |  1 (+,|) |  2 (",@) |  3 (*,#) |  4 (ç,¼) |  5 (%,½) |   |  6 (&,¬) |  7 (/,|) |  8 ((,¢)) |  9 () |  0 (=) | BSPC |
            // |  TAB  |   Q     |    W     |    E     |    R     |    T     |   |    Y     |    U     |    I     |    O     |    P     | BSPC |
            // | CTRL  |   A     |    S     |    D     |    F     |    G     |   |    H     |    J     |    K     |    L     |    ;     |   '   |
            // | SHFT  |   Z     |    X     |    C     |    V     |    B     |   |    N     |    M     |    ,     |    .     |    /     |  ESC  |
            //                 | GUI |  LWR  |   SPC    |       |   ENT    |  RSE   | ALT |
            bindings = <
                // Row 1
                &kp ESC      &kp N1    &kp AT_SIGN    &kp HASH  &kp N4    &kp N5          &kp N6     &kp N7     &kp N8     &kp N9    &kp N0    &kp BSPC

                // Row 2
                &kp TAB     &kp Q     &kp W     &kp E     &kp R     &kp T           &kp Y      &kp U      &kp I      &kp O     &kp P     &kp BSPC

                // Row 3
                &kp LSHFT   &kp A     &kp S     &kp D     &kp F     &kp G           &kp H      &kp J      &kp K      &kp L     &kp SEMI  &kp SQT

                // Row 4
                &kp LCTRL   &kp Z     &kp X     &kp C     &kp V     &kp B           &kp N      &kp M      &kp COMMA  &kp DOT   &kp FSLH  &kp ESC

                // Thumb row (modifiers and space/return)
                           &kp LGUI  &kp N1     &kp RET              &kp SPACE     &kp N1      &kp RALT
            >;
        };
    };
};

